.1container {
    padding: 2rem;
}

.1section-heading {
    margin-bottom: 2rem;
    text-align: center;
}

.1slider-wrapper {
    position: relative;
    margin: 0 auto;
}

.1slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.1slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.1slider-nav{
    display:flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.1slider-nav a {
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.85;
    transition: opacity ease 250ms;
}
.1slider-nav a:hover {
    opacity: 1;
}
